.center.jumbotron
  %h1 Welcome to Jobbe the ASEAN Tech Jobs Portal App
  %h2
    This is the home page for the
    %a{:href => "http://www.jobbee.my/"} Jobbee Job Portal
    web application.
    
#jobs
  = render 'jobs'

#paginator.text-center
  = link_to_next_page @jobs, 'SEE MORE', remote: true, id: 'load_more'
