.jobs-wrapper.row
  -@jobs.each do |job|
    .job
      .job-head
        .name
          Ajmal Nabil
      .image.center-block
        =link_to (image_tag job.image.url(:medium), class:'img-responsive'), job_path(job)
      %p.title
        =job.title
