.center.jumbotron
  %h1 Jobbee
  %h1 The ASEAN Tech Jobs Portal
  %h2
    This is the home page for the
    %a{:href => "https://www.github.com/ajmalnabil/jobbee"} Jobbee Job Portal
    web application.

#jobs
  = render 'jobs'

#paginator.text-center
  = link_to_next_page @jobs, 'SEE MORE', remote: true, id: 'load_more'
